#navigation{
    background-color: #232946;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 3px 5px;
    box-sizing: border-box;
}

#hello{
    text-align: center;
}

.navigation-route{
    user-select: none;
    padding: 7px 0;
    cursor: pointer;
    box-sizing: border-box;
}

.navigation-route label{
    text-align: center;
    cursor: pointer;
}

.navigation-route:hover{
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
}

.current-route{
    background: rgba(0, 0, 0, 0.30);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-left: 5px solid green;
}

#logout{
    background-color: lightcoral;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    padding: 3px 0;
    border-radius: 2px;
}