/* New Book */
input[name="price"]{
    width: 100%;
    border: 1px solid #cccccc; 
    height: 35px; 
    border-radius: 2px;
    box-sizing: border-box;
    outline: 0;
    padding-left: 10px;
}

/* Seller */
#seller{
    height: 100%;
    width: 100%;
    display: flex;
}

#seller-menu, #seller-content{
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
}

#seller-content{
    width: 75%;
    background-color:#374274;
    position: relative;
}

#seller-menu{
    width: 25%;
    background-color: #0d0d0d;
}

.seller-route{
    user-select: none;
    padding: 7px 10px;
    cursor: pointer;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    display: block;
}

.seller-route:hover{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
}

.current-seller-route{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-left: 5px solid rgb(50, 159, 196);
}

#seller-submenu{
    width: 80%;
    margin: 0 auto;
}
