#modal{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 999;
    display: flex;
    align-items: center;
}

#loading{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation-name: fade-inout;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes fade-inout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#loading-icon{
    display: inline-block;
    width: 80px;
    height: 80px;
}

#loading-icon:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #7f5af0 transparent #ffb901 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  